<section class="bg-white dark:bg-gray-900" id="nosotros">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Últimas Noticias</h2>
        <div class="flex flex-col gap-y-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
            <div class="bottom-element flex flex-col items-center">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FPlastigesa.Peru%2Fposts%2Fpfbid023iTkxqsSxHtezL7rJjSfGjqbFxqnhhE1p2JHyouJmJCSW1AukDumdiAjdcmiR6kfl&show_text=true&width=500" width="400" height="573" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-200">Utilizamos la mejor materia prima para la fabricación de bolsas.</p>
            </div>
            <div class="bottom-element flex flex-col items-center">
                <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1532926930671676%2F&show_text=false&width=476&t=0" width="376" height="376" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-200">Contamos con tiendas retail para ventas al público al por mayor y menor.</p>
            </div>
            <div class="bottom-element flex flex-col items-center">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FPlastigesa.Peru%2Fposts%2Fpfbid0243nw9x6f7RxxUop5EjVqDGXCQbvXsk8GBLBWoh4BncL9fezXigRmPRLgpJQWZ7mgl&show_text=true&width=500" width="400" height="592" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                <p class="font-bold text-xl lg:text-2xl text-green-700 dark:text-green-300 my-4">¡Somos fabricantes!</p>
            </div>
        </div>
    </div>
</section>



